
<!-- preloader -->
<div id="preloader">
  <div class="preloader">
    <span></span>
    <span></span>
  </div>
</div>
<!-- preloader end  -->

<!-- back to top start -->
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
<!-- back to top end -->

<header>
  <div class="bd-header-area bd-header-area-four bd-header-area-six header-sticky">
    <div class="bd-header-border bd-header-spacing">
      <div class="bd-custom-container">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-7 order-1 order-xl-1">
            <div class="bd-header-logo">
              <a href="index.html"><img src="../../../assets/front/img/logo/Logo-black.png" alt="logo not found"></a>
            </div>
          </div>
          <div class="col-xl-5 col-lg-1 col-md-1 col-sm-1 col-2 order-3 order-xl-2">
            <div class="bd-main-menu bd-main-menu-border-five">
              <nav id="bd-mobile-menu">
                <ul>
                  <li class="menu-item-has-children"><a [routerLink]="['/front/frontEnd/homeF']" class="active">Home</a>
                    <ul class="sub-menu">
                      <li><a [routerLink]="['/front/frontEnd/homeF']">Home Style 1</a></li>
                      <li><a href="index-2.html">Home Style 2</a></li>
                      <li><a href="index-3.html">Home Style 3</a></li>
                      <li><a href="index-4.html">Home Style 4</a></li>
                      <li><a href="index-5.html">Home Style 5</a></li>
                      <li><a href="index-6.html">Home Style 6</a></li>
                      <li><a href="index-7.html">Home Style 7</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="about.html">About</a>
                    <ul class="sub-menu">
                      <li><a href="about.html">About Us</a></li>
                      <li><a href="about-me.html">About Me</a></li>
                    </ul>
                  </li>
                  <!--<li class="menu-item-has-children"><a href="service.html">Services</a>
                    <ul class="sub-menu">
                      <li><a href="service.html">Services</a></li>
                      <li><a href="service-details.html">Service Details</a></li>
                    </ul>
                  </li>-->
                  <li class="menu-item-has-children"><a [routerLink]="['/front/frontEnd/blogF']">Courses</a>
                    <ul class="sub-menu">
                      <li><a [routerLink]="['/front/frontEnd/blogF']">Courses</a></li>
                      <li><a href="blog-details.html">Courses Details</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a [routerLink]="['/front/frontEnd/ListUniversitiesFront']">Partners</a>
                    <ul class="sub-menu">
                      <li><a [routerLink]="['/front/frontEnd/ListUniversitiesFront']">Partners</a></li>
                      <li><a [routerLink]="['/front/frontEnd/PartnerDetailFront/:id']">Partners Details</a></li>
                      <li><a [routerLink]="['/front/frontEnd/StudentProfile/:idStudent']">Student Profile</a></li>
                      <li><a [routerLink]="['/front/frontEnd/covid/map']" >Corona Virus Statistics</a></li>
                      <li><a [routerLink]="['/front/frontEnd/covid/map']" >Contact</a></li>
                    </ul>
                  </li>
                  <!--<li class="menu-item-has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="portfolio-1.html">Portfolio One</a></li>
                      <li><a href="portfolio-2.html">Portfolio Two</a></li>
                      <li><a href="portfolio-3.html">Portfolio Three</a></li>
                      <li><a href="portfolio-details.html">Portfolio Details</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="team.html">Team</a></li>
                      <li><a href="faq.html">Faq</a></li>
                      <li><a href="error.html">Error Page</a></li>
                    </ul>
                  </li>-->
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
            <!-- mobile menu activation -->
            <div class="side-menu-icon side-menu-icon-four d-xl-none text-end">
              <button class="side-toggle"><i class="far fa-bars"></i></button>
            </div>
          </div>
          <div class="col-xl-5 col-lg-8 col-md-8 col-sm-8 col-3 order-2 order-xl-3">
            <div class="bd-header-right bd-header-right-four text-end">
              <div class="bd-header-input-search bd-header-input-search-six">
                <form action="#" class="position-relative">
                  <input type="text" placeholder="Search keywords">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div>
              <div class="bd-header-contacts">
                <div class="bd-header-contacts-icon">
                  <img src="../../../assets/front/img/icon/chatting.png" alt="img not found">
                </div>
                <div class="bd-header-contacts-text">
                  <span>Call for support</span>
                  <a href="tel:+254365980">+254 - 365 - 980</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- mobile menu info -->
<div class="fix">
  <div class="side-info">
    <button class="side-info-close"><i class="fal fa-times"></i></button>
    <div class="side-info-content">
      <div class="bd-mobile-menu"></div>
      <div class="contact-infos mb-30">
        <div class="contact-list mb-30">
          <h4>Contact Info</h4>
          <ul>
            <li><i class="flaticon-location-1"></i>28/4 Palmal, London</li>
            <li><i class="flaticon-email"></i><a ><span class="__cf_email__" data-cfemail="ef86818980af9c8e858ec18c8082">[email&#160;protected]</span></a></li>
            <li><i class="flaticon-phone-call"></i><a href="tel:33388820055">333 888 200 - 55</a></li>
          </ul>
          <div class="sidebar__menu--social">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-google"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="offcanvas-overlay"></div>
<!-- mobile menu info -->

<!-- Fullscreen search -->
<div class="search-wrap">
  <div class="search-inner">
    <i class="fal fa-times search-close" id="search-close"></i>
    <div class="search-cell">
      <form method="get">
        <div class="search-field-holder">
          <input type="search" class="main-search-input" placeholder="Search here...">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end fullscreen search -->
