  <div class="app-main" id="main">
  <!-- begin container-fluid -->
  <div class="container-fluid">

<ng-container>
  <form  (click)="SearchMultiple(key.value)">
    <div class="from-group row">
      <div class="col-6 col-sm-3">
        <input class="form-control ag-row-hover"  type="search"  #key="ngModel" ngModel
               name="key" placeholder="Search Formation" >
      </div>

      <div class="col-6 col-sm-3">
        <button class="btn btn-outline-soundcloud ag-row " type="submit" > Search </button>
      </div>
    </div>
  </form>
</ng-container>

    <br>
    <br>


<div class="row">
  <div class="col-md-4" *ngFor="let l of listFormation  , let i=index" >

    <div>
      <div class="card" style="width: 18rem;">
        <img src="assets/images/profile/user-uploads/user-03.jpg" class="card-img-top" alt="...">
        <div class="card-body" >

          <h5 class="text-center">{{l.title}}</h5>
          <p class="text-info" >Domain : {{l.domain}}</p>
          <button class="btn btn-outline-success" (click)="addLikes(l.idFormation)"  >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/>
            </svg>

          </button>
          <button id="buy" class="btn btn-outline-danger" (click)="addDisLikes(l.idFormation)" style="float: inside" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-angry" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zm6.991-8.38a.5.5 0 1 1 .448.894l-1.009.504c.176.27.285.64.285 1.049 0 .828-.448 1.5-1 1.5s-1-.672-1-1.5c0-.247.04-.48.11-.686a.502.502 0 0 1 .166-.761l2-1zm-6.552 0a.5.5 0 0 0-.448.894l1.009.504A1.94 1.94 0 0 0 5 6.5C5 7.328 5.448 8 6 8s1-.672 1-1.5c0-.247-.04-.48-.11-.686a.502.502 0 0 0-.166-.761l-2-1z"/>
            </svg>

          </button>
          <button class="btn btn-info" (click)="getApprenantByFormation(l.idFormation);ToggleForm()" >

            Liste Apprenant
          </button>
        </div>
      </div>
    </div>


  </div>




</div>



<div *ngIf="sowFormateur">
<h1>Liste Apprenant </h1>

  <div class="col-md-4" *ngFor="let l of listApprenent  , let i=index" >

    <div >
      <div class="card" style="width: 18rem;">
        <img src="assets/images/portrait/small/avatar-s-6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="color:red" > l'id :{{l.id}}</h5>
          <h5 class="card-title">{{l.lastName}}</h5>
          <p class="card-title">{{l.firstName}}</p>
          <p class="card-text">{{l.email}}</p>
          <button class="btn btn-danger" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
          </button>

        </div>
      </div>
    </div>


  </div>


  </div>
  </div>
</div>



