<h1>Gestion Formateur</h1>
<div class="from-group col-md-3">
  <label> Search </label>
  <input class="form-control" name="name" type="text"
         placeholder="search by domain" [(ngModel)]="name" >
</div>
<br> {{name}} <br>



<div class="row">
  <div class="col-md-4" *ngFor="let l of listFormateur  , let i=index" >

    <div *ngIf="l.lastName.startsWith(name) || name == null" >
      <div class="card" style="width: 18rem;">
        <img src="assets/images/profile/user-uploads/user-03.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="color:red" > l'id : {{ l.id }} </h5>
          <h5 class="card-title">{{ l.lastName }}</h5>
          <p class="card-text">{{ l.tarifHoraire }}</p>
          <button class="btn btn-danger" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
          </button>
          <button   id="buy" appChangeBg class="btn btn-outline-success " (click)="sendIdF(l.id);enableDisableRule()"   >
            Choose
          </button>

        </div>
      </div>
    </div>


  </div>




</div>

<h2 style="color: greenyellow "> Formateur Remuneration Max Salaire</h2>



<!--<div class="row" >
  <div class="col-md-4" *ngFor="let l of requiredData   " >

    <div >
      <div class="card" style="width: 18rem;">
        <img src="assets/images/portrait/small/avatar-s-6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 style="color:red" > Salaire :   </h5>
          <div  style="font-size: small" >


            <h4> {{l[0]}}</h4>


           <h5>{{l[1]?.prenom}} : {{l[1]?.nom}}</h5>

           <h5> {{l[1]?.role}} </h5>
          </div>
          <button class="btn btn-danger" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
          </button>
          <button   id="pick"  (click)="enableDisableRule()" [ngClass]=" {'red' : toggle , 'green' : !toggle} "  >
            Choose
          </button>
        </div>
      </div>
    </div>


  </div>




</div>-->

