

  <!-- slider area start here -->
  <section class="bd-slider-area fix">
    <div class="bd-slider-actives">
      <div class="swiper-wrappers">
        <div class="bd-single-slider gray-bg bd-slider-height pt-200 w-full position-relative">
          <img src="../../../assets/front/img/slider/slider-shape-5.png" class="bd-slider-six-img-shape5" alt="img not found">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-7">
                <div class="bd-slider-six">
                  <h1 class="bd-slider-six-title mb-30 wow fadeInUp" data-wow-delay=".2s">Take Your <span>Life</span> To <br>The Next Level</h1>
                  <div class="bd-slider-video-spacing mb-90">
                    <div class="bd-slider-five-btn wow fadeInUp" data-wow-delay=".4s">
                      <a href="contact.html" class="theme-btn">Say Hello <i class="flaticon-email-1"></i></a>
                    </div>
                    <div class="bd-slider-five-video">
                      <div class="bd-slider-five-video-icon wow fadeInUp" data-wow-delay=".6s">
                        <a href="https://www.youtube.com/watch?v=jdkWIdJobSA" class="play_btn popup-video"><i class="flaticon-play"></i></a>
                      </div>
                      <div class="bd-slider-five-video-text wow fadeInUp" data-wow-delay=".8s">
                        <span>Watch</span>
                        <h5>How I work</h5>
                      </div>
                    </div>
                  </div>
                  <div class="bd-slider-facts bd-slider-facts-six">
                    <ul>
                      <li>
                        <div class="bd-slider-fact wow fadeInUp" data-wow-delay="1s">
                          <h4 class="bd-slider-fact-title text-heading"><span class="odometer" data-count="5"></span>K+</h4>
                          <span class="bd-slider-fact-subtitle text-heading">Global Happy Clients</span>
                        </div>
                      </li>
                      <li>
                        <div class="bd-slider-fact wow fadeInUp" data-wow-delay="1.2s">
                          <h4 class="bd-slider-fact-title text-heading"><span class="odometer" data-count="18"></span>K</h4>
                          <span class="bd-slider-fact-subtitle text-heading">Project Cmpleted</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="bd-slider-six-img">
                  <img src="../../../assets/front/img/about/about-img-6.png" class="rounded-10" alt="img not found">
                  <img src="../../../assets/front/img/blog/blog-img-5.jpg" class="bd-slider-six-img-shape1" alt="img not found">
                  <img src="../../../assets/front/img/slider/slider-shape-4.png" class="bd-slider-six-img-shape2" alt="img not found">
                  <img src="../../../assets/front/img/slider/slider-shape-6.png" class="bd-slider-six-img-shape3" alt="img not found">
                  <img src="../../../assets/front/img/slider/slider-shape-7.png" class="bd-slider-six-img-shape4" alt="img not found">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- slider area end here -->

  <!-- service area start here -->
  <section class="bd-service-area pt-145 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bd-section-title-wrapper text-center mb-50">
            <h5 class="bd-section-subtitle mb-15 subtitle-without-border">Creative Service</h5>
            <h2 class="bd-section-title mb-25">Solution we offer you</h2>
            <p>Experiences that keep your customers coming back for more information about <br>services Makes best effort</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="bd-service bd-service-four mb-30">
            <div class="bd-service-icon mb-20">
              <i class="flaticon-help"></i>
            </div>
            <h4 class="bd-service-title mb-20"><a href="service-details.html">Consultancy</a></h4>
            <p>Experiences that keep your customers coming back for more information about services Makes best effort</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bd-service bd-service-four mb-30">
            <div class="bd-service-icon mb-20">
              <i class="flaticon-coding"></i>
            </div>
            <h4 class="bd-service-title mb-20"><a href="service-details.html">Web Development</a></h4>
            <p>Reach new audiences with omnichannel commerce anywhere in the world and surpass industry</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bd-service bd-service-four mb-30">
            <div class="bd-service-icon mb-20">
              <i class="flaticon-notes"></i>
            </div>
            <h4 class="bd-service-title mb-20"><a href="service-details.html">Content Writing</a></h4>
            <p>Use drag-and-drop functionality, custom product recommendations and headless customize your website.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bd-service bd-service-four mb-30">
            <div class="bd-service-icon mb-20">
              <i class="flaticon-curve"></i>
            </div>
            <h4 class="bd-service-title mb-20"><a href="service-details.html">Creative Design</a></h4>
            <p>Faceted search built off of Elasticsearch, including custom field support for refined searchable partner.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bd-service bd-service-four mb-30">
            <div class="bd-service-icon mb-20">
              <i class="flaticon-seo"></i>
            </div>
            <h4 class="bd-service-title mb-20"><a href="service-details.html">Consultancy</a></h4>
            <p>SEO where your customers are shopping by integrating with top marketplaces such as business ranking.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bd-service bd-service-four mb-30">
            <div class="bd-service-icon mb-20">
              <i class="flaticon-bullhorn"></i>
            </div>
            <h4 class="bd-service-title mb-20"><a href="service-details.html">Digital MArketing</a></h4>
            <p>Make it easier for your customers to pay with a broad spectrum of flexible payment methods and credit authorization.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service area end here -->

  <!-- about area start here -->
  <section class="bd-about-six-area gray-bg pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8">
          <div class="bd-about-six-img">
            <img src="../../../assets/front/img/about/about-img-7.jpg" class="pl-60" alt="img not found">
            <img src="../../../assets/front/img/about/about-img-8.jpg" class="bd-about-six-img-second" alt="img not found">
            <img src="../../../assets/front/img/about/about-img-9.jpg" class="bd-about-six-img-third" alt="img not found">
            <div class="bd-about-six-img-expe">
              <h2>25+</h2>
              <span>Years Experience</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bd-about-six-text">
            <div class="bd-section-title-wrapper mb-25">
              <h5 class="bd-section-subtitle mb-15 subtitle-without-border">About Company</h5>
              <h2 class="bd-section-title mb-25">We always work Passionately</h2>
              <p>Digital marketing spans across a massive network of digital touchpoints that customers interact with many times a day. To properly utilize these channels. You need to have an understanding of each engine specific set of keyword research with proper terms.</p>
            </div>
            <div class="bd-about-six-feature">
              <h5 class="bd-about-six-feature-title mb-20">Key Features</h5>
              <ul class="mb-45">
                <li><i class="far fa-check"></i> Marketing Data Environment</li>
                <li><i class="far fa-check"></i> Content Personalization</li>
                <li><i class="far fa-check"></i> Corporate Business Impact Analytics</li>
                <li><i class="far fa-check"></i> Experience Automation</li>
              </ul>
            </div>
            <div class="bd-about-six-btn">
              <a href="about.html" class="theme-btn">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about area end here -->

  <!-- portfolio area start here -->
  <section class="bd-portfolio-area pt-145 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bd-section-title-wrapper text-center mb-50">
            <h5 class="bd-section-subtitle mb-15 subtitle-without-border">Creative Portfolio</h5>
            <h2 class="bd-section-title mb-25">Recent work example</h2>
            <p>Experiences that keep your customers coming back for more information about <br>services Makes best effort</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="bd-portfolio mb-30">
            <img src="../../../assets/front/img/portfolio/portfolio-img-1.jpg" alt="porfolio not found">
            <div class="bd-portfolio-text">
              <span>Development</span>
              <h5 class="bd-portfolio-title"><a href="portfolio-details.html">Web Business Plan</a></h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bd-portfolio mb-30">
            <img src="../../../assets/front/img/portfolio/portfolio-img-2.jpg" alt="porfolio not found">
            <div class="bd-portfolio-text">
              <span>Consultancy</span>
              <h5 class="bd-portfolio-title"><a href="portfolio-details.html">Web Consultancy Plan</a></h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bd-portfolio mb-30">
            <img src="../../../assets/front/img/portfolio/portfolio-img-3.jpg" alt="porfolio not found">
            <div class="bd-portfolio-text">
              <span>Content Writing</span>
              <h5 class="bd-portfolio-title"><a href="portfolio-details.html">Content Writing Plan</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- portfolio area end here -->

  <!-- testimonial area start here -->
  <section class="bd-testimonial-area-four pb-145">
    <div class="container">
      <div class="bd-testimonial-four-active swiper-container">
        <div class="swiper-wrapper pb-40">
          <div class="swiper-slide">
            <div class="bd-testimonial-four">
              <div class="bd-testimonial-four-img">
                <img src="../../../assets/front/img/testimonial/testimonial-author-3.png" alt="img not found">
              </div>
              <div class="bd-testimonial-four-text">
                <i class="fas fa-quote-left mb-20"></i>
                <h3 class="bd-testimonial-four-text-title mb-15">Build content-rich and secure customer experiences with Drupal on the front-end and BigCommerce on the back-end.</h3>
                <h6>David Johnson</h6>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bd-testimonial-four">
              <div class="bd-testimonial-four-img">
                <img src="../../../assets/front/img/testimonial/testimonial-author-4.png" alt="img not found">
              </div>
              <div class="bd-testimonial-four-text">
                <i class="fas fa-quote-left mb-20"></i>
                <h3 class="bd-testimonial-four-text-title mb-15">Build content-rich and secure customer experiences with Drupal on the front-end and BigCommerce on the back-end.</h3>
                <h6>David Warner</h6>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bd-testimonial-four">
              <div class="bd-testimonial-four-img">
                <img src="../../../assets/front/img/testimonial/testimonial-author-5.png" alt="img not found">
              </div>
              <div class="bd-testimonial-four-text">
                <i class="fas fa-quote-left mb-20"></i>
                <h3 class="bd-testimonial-four-text-title mb-15">Build content-rich and secure customer experiences with Drupal on the front-end and BigCommerce on the back-end.</h3>
                <h6>Steve Smith</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- If we need pagination -->
        <div class="testimonial-pagination testimonial-dots"></div>
      </div>
    </div>
  </section>
  <!-- testimonial area end here -->

  <!-- pricing area start here -->
  <section class="bd-pricing-area gray-bg pt-145 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bd-section-title-wrapper mb-50 z-index text-center">
            <h5 class="bd-section-subtitle mb-15">Price Table</h5>
            <h2 class="bd-section-title mb-25">Pricing & Packaging</h2>
            <p>Experiences that keep your customers coming back for more information <br>about services Makes best effort</p>
          </div>
        </div>
      </div>
      <nav class="text-center mb-60">
        <div class="nav bd-pricing-tabs justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Montly</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Yearly</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="bd-pricing mb-30">
                <div class="bd-pricing-title-wrapper text-center mb-65">
                  <h6 class="bd-pricing-subtitle mb-15">Startup Plan</h6>
                  <h6 class="bd-pricing-price">$19<span>.00/Month</span></h6>
                </div>
                <ul class="mb-80">
                  <li><i class="fal fa-check"></i> 10 GB Data</li>
                  <li><i class="fal fa-check"></i> Marketing Calendar</li>
                  <li><i class="fal fa-check"></i> Personalization</li>
                  <li><i class="fal fa-check"></i> 3 Sandboxs</li>
                  <li><i class="fal fa-check"></i> Secure Domains</li>
                  <li><i class="fal fa-check"></i> Dynamic Content</li>
                </ul>
                <div class="bd-pricing-btn">
                  <a href="contact.html" class="theme-btn">Select Plan</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="bd-pricing mb-30 bd-pricing-active">
                <div class="bd-pricing-title-wrapper text-center mb-65">
                  <h6 class="bd-pricing-subtitle mb-15">Premium Plan</h6>
                  <h6 class="bd-pricing-price">$49<span>.00/Month</span></h6>
                </div>
                <ul class="mb-80">
                  <li><i class="fal fa-check"></i> 20 GB Data</li>
                  <li><i class="fal fa-check"></i> Marketing Calendar</li>
                  <li><i class="fal fa-check"></i> Personalization</li>
                  <li><i class="fal fa-check"></i> 10 Sandboxs</li>
                  <li><i class="fal fa-check"></i> Secure Domains</li>
                  <li><i class="fal fa-check"></i> Dynamic Content</li>
                </ul>
                <div class="bd-pricing-btn">
                  <a href="contact.html" class="theme-btn-black">Select Plan</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="bd-pricing mb-30">
                <div class="bd-pricing-title-wrapper text-center mb-65">
                  <h6 class="bd-pricing-subtitle mb-15">Enterprise</h6>
                  <h6 class="bd-pricing-price">$79<span>.00/Month</span></h6>
                </div>
                <ul class="mb-80">
                  <li><i class="fal fa-check"></i> 100 GB Data</li>
                  <li><i class="fal fa-check"></i> Marketing Calendar</li>
                  <li><i class="fal fa-check"></i> Personalization</li>
                  <li><i class="fal fa-check"></i> 20 Sandboxs</li>
                  <li><i class="fal fa-check"></i> Secure Domains</li>
                  <li><i class="fal fa-check"></i> Dynamic Content</li>
                </ul>
                <div class="bd-pricing-btn">
                  <a href="contact.html" class="theme-btn">Select Plan</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="bd-pricing mb-30">
                <div class="bd-pricing-title-wrapper text-center mb-65">
                  <h6 class="bd-pricing-subtitle mb-15">Startup Plan</h6>
                  <h6 class="bd-pricing-price">$29<span>.00/Year</span></h6>
                </div>
                <ul class="mb-80">
                  <li><i class="fal fa-check"></i> 10 GB Data</li>
                  <li><i class="fal fa-check"></i> Marketing Calendar</li>
                  <li><i class="fal fa-check"></i> Personalization</li>
                  <li><i class="fal fa-check"></i> 3 Sandboxs</li>
                  <li><i class="fal fa-check"></i> Secure Domains</li>
                  <li><i class="fal fa-check"></i> Dynamic Content</li>
                </ul>
                <div class="bd-pricing-btn">
                  <a href="contact.html" class="theme-btn">Select Plan</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="bd-pricing mb-30 bd-pricing-active">
                <div class="bd-pricing-title-wrapper text-center mb-65">
                  <h6 class="bd-pricing-subtitle mb-15">Premium Plan</h6>
                  <h6 class="bd-pricing-price">$79<span>.00/Year</span></h6>
                </div>
                <ul class="mb-80">
                  <li><i class="fal fa-check"></i> 20 GB Data</li>
                  <li><i class="fal fa-check"></i> Marketing Calendar</li>
                  <li><i class="fal fa-check"></i> Personalization</li>
                  <li><i class="fal fa-check"></i> 10 Sandboxs</li>
                  <li><i class="fal fa-check"></i> Secure Domains</li>
                  <li><i class="fal fa-check"></i> Dynamic Content</li>
                </ul>
                <div class="bd-pricing-btn">
                  <a href="contact.html" class="theme-btn-black">Select Plan</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="bd-pricing mb-30">
                <div class="bd-pricing-title-wrapper text-center mb-65">
                  <h6 class="bd-pricing-subtitle mb-15">Enterprise</h6>
                  <h6 class="bd-pricing-price">$89<span>.00/Year</span></h6>
                </div>
                <ul class="mb-80">
                  <li><i class="fal fa-check"></i> 100 GB Data</li>
                  <li><i class="fal fa-check"></i> Marketing Calendar</li>
                  <li><i class="fal fa-check"></i> Personalization</li>
                  <li><i class="fal fa-check"></i> 20 Sandboxs</li>
                  <li><i class="fal fa-check"></i> Secure Domains</li>
                  <li><i class="fal fa-check"></i> Dynamic Content</li>
                </ul>
                <div class="bd-pricing-btn">
                  <a href="contact.html" class="theme-btn">Select Plan</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- pricing area end here -->

  <!-- team area start here -->
  <section class="bd-team-area pb-145 pt-145">
    <div class="container">
      <div class="row align-items-center pb-25">
        <div class="col-lg-6">
          <div class="bd-section-title-wrapper mb-20">
            <h5 class="bd-section-subtitle mb-15 subtitle-without-border">Creative Team</h5>
            <h2 class="bd-section-title">Our experienced team</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bd-section-title-wrapper mb-20">
            <p class="m-0">Experiences that keep your customers coming back for more information about services Makes best effort. The most completed powerful experience automation.</p>
          </div>
        </div>
      </div>

      <div class="bd-team-active swiper-container">
        <div class="swiper-wrapper pb-40">
          <div class="swiper-slide">
            <div class="bd-portfolio bd-team-four mb-30">
              <img src="../../../assets/front/img/team/team-img-1.jpg" alt="porfolio not found">
              <div class="bd-team-four-text">
                <h5 class="bd-team-four-title"><a href="portfolio-details.html">Dallas Anderson</a></h5>
                <span>Web Developer</span>
                <div class="bd-team-four-social">
                  <ul>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bd-portfolio bd-team-four mb-30">
              <img src="../../../assets/front/img/team/team-img-2.jpg" alt="porfolio not found">
              <div class="bd-team-four-text">
                <h5 class="bd-team-four-title"><a href="portfolio-details.html">Shane Watson</a></h5>
                <span>Web Designer</span>
                <div class="bd-team-four-social">
                  <ul>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bd-portfolio bd-team-four mb-30">
              <img src="../../../assets/front/img/team/team-img-3.jpg" alt="porfolio not found">
              <div class="bd-team-four-text">
                <h5 class="bd-team-four-title"><a href="portfolio-details.html">David Warner</a></h5>
                <span>React Developer</span>
                <div class="bd-team-four-social">
                  <ul>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bd-portfolio bd-team-four mb-30">
              <img src="../../../assets/front/img/team/team-img-1.jpg" alt="porfolio not found">
              <div class="bd-team-four-text">
                <h5 class="bd-team-four-title"><a href="portfolio-details.html">Steve Long</a></h5>
                <span>Vue Developer</span>
                <div class="bd-team-four-social">
                  <ul>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="bd-portfolio bd-team-four mb-30">
              <img src="../../../assets/front/img/team/team-img-2.jpg" alt="porfolio not found">
              <div class="bd-team-four-text">
                <h5 class="bd-team-four-title"><a href="portfolio-details.html">Williamson</a></h5>
                <span>Angular Developer</span>
                <div class="bd-team-four-social">
                  <ul>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- If we need pagination -->
        <div class="team-pagination team-dots"></div>
      </div>
    </div>
  </section>
  <!-- team area end here -->

  <!-- blog area start here -->
  <section class="bd-blog-area pt-145 pb-120 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bd-section-title-wrapper text-center mb-50">
            <h5 class="bd-section-subtitle mb-15">Creative Blog</h5>
            <h2 class="bd-section-title mb-25">News insight</h2>
            <p>Experiences that keep your customers coming back for more information about <br>services Makes best effort</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-1.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text bd-blog-text-six">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>21 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>12 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">Getting started with business level improved</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-1.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Daniyel</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-2.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text bd-blog-text-six">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>22 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>8 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">Modern fluid typography used in website Clamp</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-2.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Saimon</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-3.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text bd-blog-text-six">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>24 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>5 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">New fresh mobile template for business</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-1.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Daniyel</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- blog area end here -->

  <!-- brand area start here -->
  <section class="bd-brand-area-four pt-145 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bd-brand-area-four-title text-center mb-55">
            <h4>Global brands we worked with</h4>
          </div>
        </div>
      </div>
      <div class="bd-brand-active swiper-container">
        <div class="swiper-wrapper">
          <div class="bd-brand-single swiper-slide">
            <a href="#"><img src="../../../assets/front/img/brand/brand-1.png" alt="brand img not found"></a>
          </div>
          <div class="bd-brand-single swiper-slide">
            <a href="#"><img src="../../../assets/front/img/brand/brand-2.png" alt="brand img not found"></a>
          </div>
          <div class="bd-brand-single swiper-slide">
            <a href="#"><img src="../../../assets/front/img/brand/brand-3.png" alt="brand img not found"></a>
          </div>
          <div class="bd-brand-single swiper-slide">
            <a href="#"><img src="../../../assets/front/img/brand/brand-4.png" alt="brand img not found"></a>
          </div>
          <div class="bd-brand-single swiper-slide">
            <a href="#"><img src="../../../assets/front/img/brand/brand-5.png" alt="brand img not found"></a>
          </div>
          <div class="bd-brand-single swiper-slide">
            <a href="#"><img src="../../../assets/front/img/brand/brand-6.png" alt="brand img not found"></a>
          </div>
          <div class="bd-brand-single swiper-slide">
            <a href="#"><img src="../../../assets/front/img/brand/brand-1.png" alt="brand img not found"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- brand area end here -->
