<!-- breadcrumb area start -->
<div class="bd-page-title-area bd-page-title-bg pt-220 pb-155">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bd-page-title text-center z-index">
          <h2 class="breadcrumb-title">Covid19 Map</h2>
          <div class="breadcrumb-menu">
            <nav class="breadcrumb-trail breadcrumbs">
              <ul class="trail-items">
                <li class="trail-item trail-begin"><a href="index.html">Home</a></li>
                <li class="trail-item trail-middle"><i class="far fa-chevron-right"></i></li>
                <li class="trail-item trail-end"><span>Covid19 Map</span></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb area end -->
<app-covid-menu></app-covid-menu>
<router-outlet></router-outlet>

