<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand" href="#">
        <div class="logo"></div>
        <h2 class="brand-text mb-0">Women Em</h2>
      </a></li>
      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item"><a [routerLink]="['/home/Formation-management/dashboard']"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span><span class="badge badge badge-warning badge-pill float-right mr-2">2</span></a>
        <ul class="menu-content">
          <li><a href="dashboard-analytics.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Analytics">Analytics</span></a>
          </li>
          <li><a href="dashboard-ecommerce.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="eCommerce">eCommerce</span></a>
          </li>
        </ul>
      </li>
      <li class="navigation-header"><span>Apps</span>
      </li>
     <!-- <li class=" nav-item"><a [routerLink]="['/home/Formation-management/addFormateur']"><i class="feather icon-mail"></i><span class="menu-title" data-i18n="Email">Formateur</span></a>
      </li>
      <li class=" nav-item"><a [routerLink]="['/home/']"><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Chat">Home</span></a>
      </li>-->

      <li class=" nav-item"><a [routerLink]="['/home/Formation-management/addFormation']"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Courses Space</span><span class="badge badge badge-warning badge-pill float-right mr-2">3</span></a>
        <ul class="menu-content">
          <li><a [routerLink]="['/home/Formation-management/addFormation']"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo"> Courses </span></a>
          </li>
          <li><a [routerLink]="['/home/Formation-management/Courses']"><i class="feather icon-list"></i><span class="menu-title" data-i18n="List"> Former List </span></a>
          </li>
          <li><a [routerLink]="['/home/Formation-management/calendar']"><i class="feather icon-calendar"></i><span class="menu-Calender" data-i18n="Todo"> Calendar </span></a>
          </li>
        </ul>
      </li>
      <li class=" nav-item"><a [routerLink]="['/home/Exchange-Student-Management/ListUniversities']"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Partner Space</span><span class="badge badge badge-warning badge-pill float-right mr-2">3</span></a>
        <ul class="menu-content">
          <li><a [routerLink]="['/home/Exchange-Student-Management/ListUniversities']"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo">List University</span></a>
          </li>
          <li><a [routerLink]="['/home/Exchange-Student-Management/ListUniversitiesDemands/:id']"><i class="feather icon-list"></i><span class="menu-title" data-i18n="List"> CandidacyUniversity </span></a>
          </li>
          <li><a [routerLink]="['/home/Exchange-Student-Management/statUniversities']"><i class="feather icon-calendar"></i><span class="menu-Calender" data-i18n="Todo"> Details Universities</span></a>
          </li>
        </ul>
      </li>
      <!-- <li class=" nav-item"><a [routerLink]="['/home/Formation-management/addFormation']"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo">Formation</span></a>
       </li>-->
       <!--<li class=" nav-item"><a [routerLink]="['/home/Formation-management/quizWelcome']"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Calender">Quiz</span></a>
       </li>-->
      <!-- <li class=" nav-item"><a [routerLink]="['/home/Formation-management/Courses']"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Calender">Courses</span></a>
       </li>-->
       <!--<li class=" nav-item"><a [routerLink]="['/home/Formation-management/listFormation']"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Calender">List Formation</span></a>
      </li>
      <li class=" nav-item"><a [routerLink]="['/home/Formation-management/Question']"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Calender">Question</span></a>
      </li>
      <li class=" nav-item"><a [routerLink]="['/home/Formation-management/videoplaylist']"><i class="feather icon-shopping-cart"></i><span class="menu-title" data-i18n="Ecommerce">Video Playlist</span></a>
      </li>-->
     <li class=" nav-item"><a href="#"><i class="feather icon-user"></i><span class="menu-title" data-i18n="User">User</span></a>
       <ul class="menu-content">
         <li><a href="app-user-list.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List">List</span></a>
         </li>
         <li><a href="app-user-view.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="View">View</span></a>
         </li>
         <li><a href="app-user-edit.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Edit">Edit</span></a>
         </li>
       </ul>
     </li>

     </ul>
 </div>
</div>
<!-- END: Main Menu-->
