
<!-- footer area start here -->
<footer class="gray-bg">
  <div class="bd-footer-area pt-100 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="bd-footer-widget bd-footer-widget-six footer-col-5 mb-30">
            <div class="bd-footer-info">
              <div class="bd-footer-info-logo mb-35">
                <a href="index.html"><img src="../../../assets/front/img/logo/Logo-black.png" class="img-fluid" alt="img not found"></a>
              </div>
              <p class="mb-30">Deliver exceptional experiences across every stage of the customer journey to drive efficient growth in concert with Sales.</p>
              <div class="bd-footer-widget-six-social">
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-google"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="bd-footer-widget bd-footer-widget-six footer-col-6 mb-30">
            <h5 class="bd-footer-widget-title bd-footer-widget-title-six mb-35">Information</h5>
            <ul>
              <li><a href="service-details.html">Agency Overview</a></li>
              <li><a href="service-details.html">Services</a></li>
              <li><a href="service-details.html">Developer Tools</a></li>
              <li><a href="service-details.html">Contact Tech</a></li>
              <li><a href="service-details.html">Careers</a></li>
              <li><a href="service-details.html">Global Partner</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="bd-footer-widget bd-footer-widget-six footer-col-7 mb-30">
            <h5 class="bd-footer-widget-title bd-footer-widget-title-six mb-35">Quick Links</h5>
            <ul>
              <li><a href="about.html">About Company</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="service-details.html">Features</a></li>
              <li><a href="contact.html">Documentation</a></li>
              <li><a href="contact.html">Resource</a></li>
              <li><a href="contact.html">Store Example</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="bd-footer-widget bd-footer-widget-six footer-col-8 mb-30">
            <h5 class="bd-footer-widget-title bd-footer-widget-title-six mb-40">Get in Touch</h5>
            <div class="bd-footer-info">
              <div class="bd-footer-info-item bd-footer-info-item-six mb-10">
                <h6>Phone : </h6>
                <a href="tel:(+88)258-241-302">(+88) 258 - 241 - 302</a>
              </div>
              <div class="bd-footer-info-item bd-footer-info-item-six mb-10">
                <h6>Email : </h6>
                <a ><span class="__cf_email__" data-cfemail="355c5b535a75504d54584559501b565a58">[email&#160;protected]</span></a>
              </div>
              <div class="bd-footer-info-item bd-footer-info-item-six">
                <h6>Location :</h6>
                <a href="#">258712 Street Park, New York, USA</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bd-copyright-area-six">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="bd-copyright-six pb-10 text-center text-lg-start">
            <p class="m-0">© 2022 All rights reserved | Design & Develop by <a href="https://themeforest.net/user/bdevs/portfolio">BDevs</a></p>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="bd-copyright-six pb-10 text-lg-end text-center">
            <ul>
              <li><a href="contact.html">Privacy</a></li>
              <li><a href="contact.html">Terms</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
