
  <!-- breadcrumb area start -->
  <div class="bd-page-title-area bd-page-title-bg pt-220 pb-155">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bd-page-title text-center z-index">
            <h2 class="breadcrumb-title">Courses</h2>
            <div class="breadcrumb-menu">
              <nav class="breadcrumb-trail breadcrumbs">
                <ul class="trail-items">
                  <li class="trail-item trail-begin"><a href="index.html">Home</a></li>
                  <li class="trail-item trail-middle"><i class="far fa-chevron-right"></i></li>
                  <li class="trail-item trail-end"><span>List Courses</span></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb area end -->

  <!-- blog area start here -->
  <section class="bd-blog-area pt-150 pb-145">
    <div class="container">
      <div class="row mb-30">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-1.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>21 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>12 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">Getting started with business level improved</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-1.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Daniyel</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-2.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>22 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>8 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">Modern fluid typography used in website Clamp</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-2.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Saimon</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-3.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>24 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>5 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">New fresh mobile device template for business </a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-3.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Guptil</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-4.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>25 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>6 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">How To Create An Information Architecture Design</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-4.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Martin</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-7.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>28 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>0 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">A Recipe For A Good Design System Maintaining</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-7.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Warner</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-6.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>27 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>5 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">A Guide To Audio Visualization With JavaScript</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-6.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">William</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-5.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>26 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>7 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">Building Web Layouts For Dual-Screen Devices</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-5.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Jhonson</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-8.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>18 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>6 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">How To Benchmark And Improve Web Vitals</a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-8.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Wtason</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="bd-blog mb-30">
            <div class="bd-blog-img">
              <a href="blog-details.html"><img src="../../../assets/front/img/blog/blog-img-9.jpg" alt="blog image not found"></a>
            </div>
            <div class="bd-blog-text">
              <div class="bd-blog-meta mb-15">
                <ul>
                  <li><a href="blog-details.html"><i class="flaticon-calendar"></i>17 Feb 2022</a></li>
                  <li><a href="blog-details.html"><i class="flaticon-chat"></i>4 Comments</a></li>
                </ul>
              </div>
              <h4 class="bd-blog-title mb-40"><a href="blog-details.html">How To Develop A Text Editor For The Web </a></h4>
              <div class="bd-blog-author">
                <div class="bd-blog-author-info">
                  <img src="../../../assets/front/img/blog/blog-author-4.jpg" alt="author image not found">
                  <h6 class="bd-blog-author-info-title">Peter</h6>
                </div>
                <div class="bd-blog-author-link">
                  <a href="blog-details.html">Read More <i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="basic-pagination">
            <ul>
              <li><span aria-current="page" class="page-numbers current">1</span></li>
              <li><a class="page-numbers" href="#">2</a></li>
              <li><a class="page-numbers" href="#">3</a></li>
              <li><a class="next page-numbers" href="#">
                <i class="fal fa-long-arrow-right"></i>
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- blog area end here -->

